
/*  
 * LAYOUT VARIABLES 
 */

// Topbar 
$topbar-outside-bg: 				#fff !default;
$topbar-bg: 						$nocolor !default;
$topbar-color: 						$text-color !default;
$topbar-font-size: 					11px;
$topbar-height:                     30px !default;

// header main
$headermain-outside-bg :			#fff !default; 
$headermain-bg: 			 		$nocolor !default;
$headermain-color:					$text-color !default;

// Footer
$footer-outside-bg :				#f9f9f9 !default;
$footer-bg: 						$nocolor !default;
$footer-color: 						#555555 !default;