<?xml version="1.0" encoding="UTF-8" ?>
        <module>
            <name>santandercredit</name>
            <displayName><![CDATA[Santander - System ratalny]]></displayName>
            <version><![CDATA[5.5]]></version>
            <description><![CDATA[Santander - Zakupy na raty w internecie]]></description>
            <author><![CDATA[Ryszard Klepacz]]></author>
            <tab><![CDATA[payments_gateways]]></tab>
            <is_configurable>1</is_configurable>
            <need_instance>1</need_instance>
	<limited_countries></limited_countries>
        </module>